<!-- ADD IMAGES EJS -->
<%- include('../partials/header'); %>
<div class="ui container raised very padded segment">
	<div class="ui left rail">
		<div class="ui card">
			<div class="image">
				<img src="<%= gallery.thumbnail %>" alt="">
			</div>
			<div class="content">
				<h4>Adding images to <%= gallery.name %></h4>
			</div>
		</div>
	</div>
	<h1><i class="file alternate icon"></i>Add Images</h1>
	<br>
	<form class="ui form large" method="POST" action="/pages/<%= id %>/galleries/<%= gallery._id %>" enctype='multipart/form-data'>
		<div class="field">
			<label>Image</label>
			<div class="ui segment" id="drop-img">
				<span class="ui header">DROP IMAGES HERE</span>
				<input id="multi-file-input" type="file" name="gallery" multiple />
			</div>
		</div>
		<input class="hidden-form" type="text" name="name" value="<%= gallery.name %>">
		<br>
		<button class="ui large basic button fluid black" type="submit"><i class="save outline icon"></i>SUBMIT</button>
		<hr>
		<div class="ui grid" id="multi-preview-img">

		</div>
	</form>
</div>
<script type="text/javascript" src="/js/multi-file.js"></script>
<%- include('../partials/footer'); %>