<!-- PAGE.EJS -->
<%- include('../partials/header'); %>
<div class="ui container raised very padded segment black" id="stuck">
	<div class="ui right close rail">
		<div class="ui massive vertical fluid menu sticky">
			<div class="item"><h2 class="ui header"><%= page.name %></h2></div>
			<a class="item" href="<%= page._id %>/edit"><i class="icon edit"></i>EDIT PAGE</a>
			<a class="item submit-delete">DELETE PAGE<i class="icon close"></i></a>
			<a class="item" href="<%= page._id %>/stories/new"><i class="book icon"></i>NEW STORY</a>
			<a class="item" href="<%= page._id %>/galleries/new"><i class="image icon"></i>NEW GALLERY</a>
			<a class="item" href="<%= page._id %>/videos/new"><i class="video icon"></i>NEW VIDEO</a>
			<form class="hidden-form" action="<%= page._id %>?_m=DELETE" method="POST"></form>
		</div>
	</div>
	<div class="ui two horizontal segments">
		<div class="ui basic segment" style="width: 25%">
			<h1 class="ui center header"><%= page.name %></h1>
			<div class="ui divider"></div>
			<div class="content"><%= page.description %></div>
		</div>
		<div class="ui segment" style="width: 75%">
			<img src='<%= page.image %>'>
		</div>
	</div>
	<% if (page.stories.length + page.galleries.length + page.videos.length === 0) { -%>
	<h2 class="ui horizontal divider header"><i class="close icon"></i>Nothing Yet</h2>
	<% } -%>
	<% if (page.stories.length > 0) { -%>
	<h2 class="ui horizontal divider header"><i class="book icon"></i>Stories</h2>
	<% } -%>
	<% page.stories.forEach((story) =>{ -%>
	<div class="ui two horizontal segments">
		<div class="ui basic image" style="width:50%;">
			<img class="story-image" src='/stories/<%= story.name %>/<%= story.image %>'>
		</div>
		<div class="ui basic padded segment show-label" style="width:50%;">
			<h2 class="header"><%= story.name %></h2>
			<div class="ui divider"></div>
			<div class="content"><p class="story-content"><%= story.story %></p></div>
			<div class="ui fluid buttons">
				<a class="basic button" href="<%= page._id %>/stories/<%= story._id %>/edit"><i class="edit icon"></i></a>
				<a class="basic button submit-delete"><i class="close icon"></i></a>
				<form class="hidden-form" action="<%= page._id %>/stories/<%= story._id %>?_m=DELETE" method="POST"></form>
			</div>
		</div>
	</div>
	<% }) -%>
	<% if (page.galleries.length > 0) { -%>
	<h2 class="ui horizontal divider header" id="galleries"><i class="image icon"></i>Galleries</h2>
	<% } -%>
	<% page.galleries.forEach((gal) =>{ -%>
	<div class="ui two horizontal segments">
		<div class="ui basic padded segment show-label" style="width:50%;">
			<h2 class="header"><%= gal.name %></h2>
			<div class="ui divider"></div>
			<div class="content"><p class="fantasy-content"><%= gal.description %></p></div>
			<a class="ui fluid basic button view-button" href="<%= page._id %>/galleries/<%= gal._id %>"><i class="zoom-in icon"></i>View</a>
		</div>
		<div class="ui image" style="width:50%;">
			<img src='<%= gal.thumbnail %>'>
		</div>
	</div>
	<% }) -%>
	<% if (page.videos.length > 0) { -%>
	<h2 class="ui horizontal divider header"><i class="video icon"></i>Videos</h2>
	<% } -%>
	<% page.videos.forEach((vid) =>{ -%>
	<div class="ui two horizontal segments">
		<div class="ui basic image" style="width:50%;">
			<img src='/videos/<%= vid.name %>/<%= vid.image %>'>
		</div>
		<div class="ui basic padded segment show-label" style="width:50%;">
			<h2 class="header"><%= vid.name %></h2>
			<div class="ui divider"></div>
			<div class="content"><p class="fantasy-content"><%= vid.description %></p></div>
			<a class="ui fluid basic button view-button" href="<%= page._id %>/videos/<%= vid._id %>"><i class="zoom-in icon"></i>View</a>
		</div>
	</div>
	<% }) -%>
</div>
<%- include('../partials/footer'); %>